* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
	background: linear-gradient(-65deg, #23d5ab, #23a6d5, #647225, #23921f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  text-align: center;

}
#introduccion {
  padding: 15px;
  width: 30vw;
  margin: auto;
  text-align: center;

}

.box {
  padding: 10px;
  margin: 15px 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 1em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.btn:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn:hover{
  background-color: rgb(54, 54, 197);
  /*color:red;*/
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

#label{
  padding: 10px;
  margin-top: 604px;
}

#msj-error{
  color:red;
}